.git
.github
.venv
venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.egg-info
.coverage
.coverage.*
.mypy_cache
.pytest_cache
.ruff_cache
.tox
.nox
.vscode
benchmark_results
build
dist
docs/_build
log
logs
**/*_log
MUJOCO_LOG.TXT
*.command.txt
