__pycache__/
log/
data/
logs/
**/*.egg-info/
.vscode
.venv/
venv/
**/MUJOCO_LOG.TXT
**/*_log/
**/dev
**/back_up
benchmark_results/
build/
dist/
.coverage
.coverage.*
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tox/
.nox/
*.command.txt
